body {
    background-image: url(https://img.freepik.com/vector-premium/fondo-cuadros-gris-blanco_146714-3034.jpg?w=900);
    overflow-x: hidden;
}

.barra_superior {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: rgb(6, 6, 149);
    justify-content: space-between;
    position: fixed;
}
.barra_superior img {
    line-height: 55px;
    margin-right: 30px;

}
#marca {
    vertical-align: middle;
    color: rgb(204, 200, 200);
    margin-left: 25px;
    font-family: "Grenze Gotisch", serif;
    font-size: 40px;
}
#ad-de-equip {
    display: flex;
}
#ad-de-equip > h1{
    margin: auto;
    color: blue;
    font-size: 30px;
}

#texto-titulo-producto{
    display: flex;
}
#texto-titulo-producto > h4{
    margin: auto;
    font-size: 20px;
}
.container-alt-baj-mod{
    display: flex;
    flex-direction: column;
}  
.alta{
    display: flex;
    flex-direction: row;
    margin: auto;
}   
.form-control-alt-baj-mod{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-inline: 40px;
    padding-bottom: 20px;
} 

label{
    padding-bottom: 15px;
    font-size: 21px;
    font-weight: bold;
    color: black;
}    

.campo-input{
    border: 3px solid rgb(75, 70, 70);
    border-radius: 20px;
    height: 30px;
    cursor: pointer;
    padding-left: 10px;
}

.btn-agregar{
    line-height: 145px;
}
.boton-agregar{
    background-color: rgb(6, 6, 149);
    color: white;
    height: 29px;
    border-radius: 7px;
    cursor: pointer;
}
.texto-agregar{
    padding: 0px 8px 0px 8px;
}

#titulo-mod-elim{
    display: flex;
}
#titulo-mod-elim > h3{
    margin: auto;
}
.container-productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modificaciones{
    margin-left: 50px;
    width: 100%;
    margin-bottom: 15px;
    color: blue;
    vertical-align: top;
} 
.texto-objeto-seleccionado{
    font-size: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
}
#tb-modificaciones{
    align-self: center;
    text-align: center;
}
td{
    font-size: 25px;
}
.boton-borrar{
    background-color: black;
    color: white;
    height: 29px;
    border-radius: 7px;  
    cursor: pointer;
}
.boton-modificar{
    background-color: black;
    color: white;
    height: 29px;
    border-radius: 7px;
    cursor: pointer;
}
.boton {
    display: block;
    width: 100%;  
    position: sticky; 
}
.boton-volver {
    display: flex;
    margin: auto;
    padding: 7px 25px 7px 25px;
    font-size: 31px;
    background-color: rgb(18, 17, 16);
    border-radius: 9px; 
    cursor: pointer; 
}
.boton-volver:hover{
    background-color: white;
}

.texto {
    color: white;  
    text-decoration: none;
}
.texto:hover{
    color: black;
}
@media screen and (min-width: 600px) and (max-width: 1023px) { /* Uso como referencia huawei mate xt ultimate design para ver el centrado de los elementos*/
    #ad-de-equip{
        /* background-color: red; */
        display: flex;
        margin: auto;
        text-align: center;
    }
    .texto-titulo-producto{
        /* margin-left: 505px; */
        padding-bottom: 35px;
    }
    
    .form-control-alt-baj-mod{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-inline: 11px;
        padding-bottom: 20px;
    } 
   
    label{  /*ver si lo uso*/
        padding-bottom: 15px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 23px;
        color: black;
    } 
}
@media screen and (max-width: 599px) {
    .barra_superior {
        display: flex;
        height: 60px;
        width: 100%;
        background-color: rgb(6, 6, 149);
        justify-content: space-between;
        position: sticky;
    }
    .alta{
        display: block;
    }  
    .btn-agregar{
        display: flex;
        margin-left: 40%;
        margin-bottom: 13%;
        line-height: 145px;
    }
    label{
        margin: auto;
    }
    input{
        width: 320px;
    }
    #titulo-mod-elim > h3{
        margin-left: 13%;
        font-size: 23px;
    }
    .texto-objeto-seleccionado{
        display: flex;
        flex-direction: column;
    }
    .container-productos table {
        width: 100%;
    }

    .container-productos thead {
        display: none; /* Ocultar el encabezado */
    }

    .container-productos tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    .container-productos td {
        width: 100%;
        text-align: left;
        display: block;
        position: relative;
        padding: 10px 0;
    }

    .container-productos td:nth-child(1)::before {
        content: "Categoría:  ";
        font-weight: bold;
        display: inline-block;
        width: auto;
    }

    .container-productos td:nth-child(2)::before {
        content: "Nombre:  ";
        font-weight: bold;
        display: inline-block;
        width: auto;
    }

    .container-productos td:nth-child(3)::before {
        content: "Precio:  ";
        font-weight: bold;
        display: inline-block;
        width: auto;
    }

    .container-productos td:nth-child(4)::before {
        content: "Imagen: ";
        font-weight: bold;
        display: inline-block;
        width: auto;
    }

    .container-productos td img {
        width: 100%;
        height: auto;
    }

    .container-productos td:last-child {
        text-align: center;
        margin-top: 10px;
    }

    .boton-borrar,
    .boton-modificar {
        width: 48%;
        margin: 1%;
    }
}

